$back-color: #9F06FF;
$text-color: #001A49;

.site-btn{
    max-width: 147px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    padding: 15px 30px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: $back-color;
    border-radius: 33px;
    background-color: #9F06FF;
}